<section class="new-training" fxLayout fxLayoutAlign="center">
  <form (ngSubmit)="startTraining()" [formGroup]="newTrainingForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px">
      <mat-card-title fxLayoutAlign="center"
        >Time to start a workout!</mat-card-title
      >
      <mat-card-content fxLayoutAlign="center">
        <mat-form-field *ngIf="!isLoading && availableExercises">
          <mat-label>Choose Exercise</mat-label>
          <mat-select formControlName="selectedExerciseId">
            <mat-option
              *ngFor="let exercise of availableExercises"
              [value]="exercise.id"
            >
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
      </mat-card-content>
      <mat-card-actions fxLayoutAlign="center" *ngIf="!isLoading">
        <button
          *ngIf="availableExercises"
          type="submit"
          mat-button
          [disabled]="newTrainingForm.invalid"
        >
          Start
        </button>
        <button
          *ngIf="!availableExercises"
          type="button"
          mat-button
          (click)="fetchExercises()"
        >
          Fetch Again
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
